<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.2//EN" "http://resources.openmrs.org/doctype/config-1.2.dtd">

<module configVersion="1.2">

	<!-- Base Module Properties -->
	<id>mohbilling</id>
	<name>MoH Billing Module</name>
	<version>0.0.2</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>MoH Rwanda</author>
	<description>
		MoH-Billing Module. Useful for managing Rwanda Hospitals/HCs Billing system.
	</description>

	<activator>@MODULE_PACKAGE@.MohBillingActivator</activator>

	<!--
		<updateURL>https://dev.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL>
	-->
	<!-- /Base Module Properties -->

	<!-- <require_version>1.6.2.12911</require_version>  -->
	<require_version>1.6.1.12909</require_version>

	<!-- Extensions -->
	<extension>
		<point>org.openmrs.tracmodule.list</point>
		<class>@MODULE_PACKAGE@.extension.html.AdminList</class>
	</extension>
	
	<extension>
		<point>org.openmrs.gutter.tools</point>
		<class>@MODULE_PACKAGE@.extension.html.BillingGutterLink</class>
	</extension>
	

	<!-- AOP -->
		
	<advice>
		<point>org.openmrs.api.PatientService</point>
		<class>@MODULE_PACKAGE@.advice.PatientServiceAdvice</class>
	</advice>
		
	<advice>
		<point>org.openmrs.api.EncounterService</point>
		<class>@MODULE_PACKAGE@.advice.EncounterServiceAdvice</class>
	</advice>
		
		<!-- /AOP -->


	<!--
		Required Privileges <privilege> <name>Form Entry</name>
		<description>Allows user to access Form Entry
		pages/functions</description> </privilege> /Required Privileges
	-->


	<!-- Required Global Properties -->
	
	<globalProperty>
		<property>billing.defaultLocation</property>
		<defaultValue>1006</defaultValue>
		<description>
			Must be the ID of the location (Health Facility) where Billing is being used.
		</description>
	</globalProperty>
	<globalProperty>
		<property>billing.primaryIdentifierType</property>
		<defaultValue>3</defaultValue>
		<description>
			Must be the ID of a Patient Identifier Type. Newly created patients will
			have an identifier of this type added to them. 
		</description>
	</globalProperty>
	<globalProperty>
		<property>billing.otherIdentifierTypes</property>
		<defaultValue></defaultValue>
		<description>
			Optionally other patient identifier types that should can be searched on and displayed
			on the patient page. This should be a comma-separated list of patient identifier ids.
		</description>
	</globalProperty>
	
	<!-- /Required Global Properties -->

	<dwr>
		<allow>
			<create creator="new" javascript="MOH_BILLING_DWRUtil">
				<param name="class" value="org.openmrs.module.mohbilling.web.dwr.MohBillingDWRUtil"/>
				<include method="getBeneficiaryListInTable"/>
			</create>
			<convert converter="bean" match="org.openmrs.module.mohbilling.web.dwr.BeneficiaryListItem"/>
		</allow>	
	</dwr>

	<!-- Servlets -->
	<!--
		Accessed through the url
		/pageContext()/moduleServlet/<moduleId>/<servlet-name> <servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
		</servlet>
	-->
	<!-- /Servlets -->
  <privilege>
        <name>Add Facility service</name>
        <description>Allows user to Add Facility service</description>
    </privilege>
   
    <privilege>
        <name>Edit Facility service</name>
        <description>Allows user to Edit Facility service</description>
    </privilege>
    <privilege>
        <name>View Facility service</name>
        <description>Allows user to View Facility service</description>
    </privilege>
    <privilege>
        <name>View Facility service by insurance campanies</name>
        <description>Allows user to View Facility service by insurance campanies</description>
    </privilege>
    <privilege>
        <name>Add Insurance</name>
        <description>Allows user to Add Insurance</description>
    </privilege>
    <privilege>
        <name>View Current Insurances</name>
        <description>Allows user to View Current Insurances</description>
    </privilege>
    <privilege>
        <name>Edit Insurance</name>
        <description>Allows user to Edit Insurance</description>
    </privilege>
    <privilege>
        <name>Edit Insurance Rate</name>
        <description>Allows user to Edit Insurance Rate</description>
    </privilege>
    <privilege>
        <name>Add New Insurance Service Category</name>
        <description>Allows user to Add New Insurance Service Category</description>
    </privilege>
    <privilege>
        <name>View Current Insurance Service Categories</name>
        <description>Allows user to View Current Insurance Service Categories</description>
    </privilege>
    <privilege>
        <name>Add Billable Service</name>
        <description>Allows user to Add Billable Service</description>
    </privilege>
    <privilege>
        <name>View Billable Service by Insurance</name>
        <description>Allows user to View Billable Service by Insurance</description>
    </privilege>
    <privilege>
        <name>Manage Financial Recovery</name>
        <description>Allows user to Manage Recovery</description>
    </privilege>
    <privilege>
        <name>Manage Billing Reports</name>
        <description>Allows user to Manage billing Reports</description>
    </privilege>
    <privilege>
        <name>Search Insurance Policy</name>
        <description>Allows user to Search Insurance Policy</description>
    </privilege>
    <privilege>
        <name>Create Insurance Policy</name>
        <description>Allows user to Create Insurance Policy</description>
    </privilege>
    <privilege>
        <name>Edit Insurance Policy</name>
        <description>Allows user to Edit Insurance Policy</description>
    </privilege>
    <privilege>
        <name>Manage Patient Bill Calculations</name>
        <description>Allows user to Manage Patient Bill Calculations</description>
    </privilege>
    <privilege>
        <name>Check Patient Bill Payment</name>
        <description>Allows user to Check Patient Bill Payment</description>
    </privilege>
    <privilege>
        <name>View Billing</name>
        <description>Allows user to View Billing module</description>
    </privilege>
    <privilege>
        <name>Manage Refund Bill</name>
        <description>Allows user to Refund a existing Bill</description>
    </privilege>
  
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<!-- /Internationalization -->

	<!-- Hibernate Mappings -->
	<mappingFiles>
		Beneficiary.hbm.xml
		BillableService.hbm.xml
		InsuranceRate.hbm.xml
		Insurance.hbm.xml
		InsurancePolicy.hbm.xml
		PatientBill.hbm.xml
		PatientServiceBill.hbm.xml
		ServiceCategory.hbm.xml
		BillPayment.hbm.xml
		FacilityServicePrice.hbm.xml
		Recovery.hbm.xml
	</mappingFiles>


</module>

